In [1]:
example_list = [2,3,6]
result = 1
for i in example_list:
    result = result * i
print(result)

36

In [3]:
#Write a Python program to get a list, sorted in increasing order by the last element in each tuple, from a given list of non-empty tuples.
#Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
#Expected result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]
#Hint: You can use the sort function.
sample_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
result = sorted(sample_list,key=lambda x: x[-1])
result

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [4]:
#Write a Python program that combines two dictionaries by adding values for common keys.
#d1 = {'a': 100, 'b': 200, 'c':300}
#d2 = {'a': 300, 'b': 200, 'd':400}
#Expected result: {'a': 400, 'b': 400, 'd': 400, 'c': 300}
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
result = {}
for i in d1.keys() | d2.keys():
    result[i] = d1.get(i, 0) + d2.get(i, 0)
result

{'a': 400, 'd': 400, 'b': 400, 'c': 300}

In [12]:
#With a given integral number n, write a program to generate a dictionary that contains (i, i*i) 
#so that is an integral number between 1 and n (both included). Then the program should print the dictionary. 
#Suppose the following input is supplied to the program: 8. 
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
n = 8
result = {i: i * i for i in range(1, n + 1)}
result

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [10]:
#Write a program to sort a tuple by its float element.
#For example: list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
#Expected result: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]
example_list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
result = sorted(example_list,key=lambda x: float(x[-1]),reverse=True)
result

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [15]:
#Write a Python program to create a set.
#Examples : {0, 1, 2, 3, 4}
#Write a Python program to iteration over sets.
#Write a Python program to add members in a set and to remove items from a given set.
example_set = {0, 1, 2, 3, 4}
example_set.add(5)
example_set.remove(0)
for i in example_set:
    print(i)

1
2
3
4
5